body{
	margin:0px;
	/*text-indent:50px;*/
}
nav {
	background-color: #420389;
	height:100px;
	position: fixed;
    width: 100%;
    top: 0;
	color:white;
	margin-bottom:100px;
}
.introdução{
	font-size:25px;
}
 #titulo_nav{ 
	display: inline;
	float: right;
	transform: translateY(100%);
	margin-right:30px;
	font-family: Trebuchet MS;
 }
#tabela {
	width:80%;
	margin-right:auto;
	margin-left:auto;
	font-size:18px;
	border-color:#420389;
}
#tabela th{
		text-align: center;
		padding-top: 10px;
		color:#FFFFFF;
		background-color:#420389;
}
#tabela {
		font-family: Trebuchet MS;
		border-collapse: collapse;
		text-align:center;
		padding-top: 20px;
	
}

#realismo{
	background-color:#420389;
	color:white;
	text-align:center;
	font-size: 40px;
	font-family:Trebuchet MS;
	margin-top: 70px;
}

main{
	 margin: 30px;
 }
 ul{	
	margin: 0;
	margin-top: -10px;
    padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #420389;
	width: 100%;
	position: relative;
	font-family: Trebuchet MS;
}
li{float:left;}
li a{
	display: block;
	color: white;
	text-align: center;
	padding:10px 10px;
	text-decoration: none;
}
.active{
	background-color: #320269;
}
.active:hover{
	background-color: #ad5cd1;
}
li a:hover:not(.active){
	background-color: #320269;
}

#tabela .texto{
	padding-left:50px;
	padding-right:50px;
	text-align:justify;
}

#tabela th{
	padding-bottom:5px;
}

#tabela td:hover{
	background-color: #300263;
	color:white;
}

footer{
	background-color:#420389;
	margin:0px;
}
#fim{
	color:white;
	text-align:center-right;
	font-size: 15px;
	font-family: Trebuchet MS;
	padding-left:5px;
}
#fim a{
	text-decoration:none;
	color:white;
}

.intro{margin-top: 140px;}

